<div class="col-md-8">

	<h4>Forget Password</h4>
	<form name="forgetPwd" #forgetPwd = "ngForm">
		<div class="form-group">
			<label for="name">Mobile Number : </label>
			<input type="number" class = "form-control" id="num" name="mobNo" #mobNo="ngModel" ngModel required>
		</div>
		<div class="form-group">
			<label for="otp">OTP : </label>
			<input type="text" class="form-control" id="otp" name="otp" #otp="ngModel" ngModel required>
		</div>
		<div class="form-group">
			<label for="newPwd">New Password : </label>
			<input type="password" class="form-control" id="newPwd" name="newPwd" #newPwd="ngModel" ngModel required>
		</div>
		<div class="form-group">
			<label for="confirmPwd">Confirm Password : </label>
			<input type="password" class="form-control" id="confirmPwd" name="confirmPwd" #confPaswd="ngModel" ngModel required>
		</div>
		<div class="form-group">
		
			<button class="btn btn-primary" [disabled]="!forgetPwd.valid" name="submit" [routerLink] = "['']">Submit</button>
			<button class="btn btn-default" name="cancel" [routerLink] = "['']">Cancel</button>
		</div>
	</form>
</div>
